<div class="face-snap-card" [ngClass]="{snapped: userHasSnapped}">
  <p>{{ myPrice | currency: 'EUR' :'code' : '1.0-0'}}</p>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  @if (faceSnap.location) {
    <p>Localisation 📍: {{ faceSnap.location }}</p>
  } @else {
    <p>Localisation 📍: Inconnue</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'dd/MM/yy' }}</p>
  <p>
    <button (click)="onSnap()">{{ snapButtonText }}</button>
    <span [ngStyle]="{color: 'rgb(0,'+faceSnap.snaps+',0)'}"> 🤙🏽 {{ faceSnap.snaps }}</span></p>
</div>
